{% extends 'index.html'%}

{% block content %}

  {% with messages = get_flashed_messages(with_categories=True)  %}
      {% if messages %}
          {% for message in messages %}
              {% if message[0] == 'info' %}
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  <h4 class="alert-heading"><strong>¡Éxito!</strong></h4>
                  <p>{{ message[1]}}</p>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
              </div>
              {% else %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <h4 class="alert-heading"><strong>¡Error!</strong></h4>
                  <p>{{ message[1]}}</p>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
              </div>
              {% endif %}
          {% endfor %}
      {% endif %}
  {% endwith %}
  <div class="pagetitle">
    <h1>Lista de Inversionistas</h1>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body"><br>
            <a href="/admin/inversionista/register" class="btn btn-success rounded-pill">Crear</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Tipo de Identificación</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Capital Invertido</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inversionista in inversionistas %}
                      <tr>
                          <td>{{ inversionista.numero}}</td>
                          <td>{{ inversionista.nombre }}</td>
                          <td>{{ inversionista.apellido }}</td>
                          <td>{{ inversionista.tipoIdentificacion }}</td>
                          <td>{{ inversionista.dni }}</td>
                          <td>{{ inversionista.direccion }}</td>
                          <td>{{ inversionista.capitalInvertido }}</td>
                          <td><a href="/admin/inversionista/edit/{{ inversionista.idInversionista }}" class="btn btn-info rounded-pill">Modificar</a></td>
                          <td><a href="/admin/inversionista/eliminar/{{ inversionista.idInversionista }}" class="btn btn-danger rounded-pill">Eliminar</a></td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

