{% extends 'index.html'%}

{% block content %}

  {% with messages = get_flashed_messages(with_categories=True)  %}
      {% if messages %}
          {% for message in messages %}
              {% if message[0] == 'info' %}
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  <h4 class="alert-heading">¡Éxito!</h4>
                  <p>{{ message[1]}}</p>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
              </div>
              {% else %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <h4 class="alert-heading">¡Error!</h4>
                  <p>{{ message[1]}}</p>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
              </div>
              {% endif %}
          {% endfor %}
      {% endif %}
  {% endwith %}
  <div class="pagetitle">
    <h1>Lista de Transacciones</h1>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body"><br>
            <a href="/admin/proyecto/register" class="btn btn-success rounded-pill">Crear</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">Nombre del Proyecto</th>
                        <th scope="col">Ubicación</th>
                        <th scope="col">Monto Total de Inversión</th>
                        <th scope="col">Cantidad de Electricidad</th>
                        <th scope="col">Fecha de Inicio</th>
                        <th scope="col">Fecha de Finalización</th>
                        <th scope="col">Inversionista</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proyecto in proyectos %}
                      <tr>
                          <td>{{ proyecto.numero}}</td>
                          <td>{{ proyecto.nombre }}</td>
                          <td>{{ proyecto.ubicacion }}</td>
                          <td>{{ proyecto.montoTotalInversion }}</td>
                          <td>{{ proyecto.cantidadElectricidad }}</td>
                          <td>{{ proyecto.fechaInicio }}</td>
                          <td>{{ proyecto.fechaFin }}</td>
                          <td>{{ proyecto.inversionista }}</td>
                          <td><a href="/admin/proyecto/edit/{{ proyecto.idProyecto }}" class="btn btn-info rounded-pill">Modificar</a></td>
                          <td><a href="/admin/proyecto/eliminar/{{ proyecto.idProyecto }}" class="btn btn-danger rounded-pill">Eliminar</a></td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

